.overflow-y {
  overflow-y: hidden;
}

.flow-y {
  overflow-y: scroll !important;
}

.fixed-scroll {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.08)
}

.fixed-scroll-contact-html {
  background: transparent !important;
}

.menu-wrapper {
  margin-left: auto;
  width: 50px;
  cursor: pointer;
  display: none;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 35px;
  height: 4px;
}

.hamburger-menu {
  position: relative;
  background: white;
  transition: all 0ms 100ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #007bff;
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #007bff;
}

.brand-logo {
  z-index: 5;
  width: 50px;
}

.brand-name {
  font-size: 1.5rem;
  color: #fff;
  transition: 0.25s ease;
}

.brand-name.brand-color {
  color: #007bff;
}

.mobile-nav {
  position: absolute;
  padding: 17px 15px 10px 35px;
  top: 10px;
  left: 35px;
}

header.head {
  background: white;
  height: 95px;
}

.main-menu {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0px);
}

.menu-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
  display: none
}

a.neon-light {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  color: #333;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  z-index: 999;
}

a.neon-light::after,
a.neon-light::before {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  background: #333;
  width: 0%;
  transition: width .75s;
}

a.neon-light::after {
  bottom: 10px;
  left: 26px;
}

a.neon-light::before {
  bottom: 13px;
  left: 26px;
}

a.neon-light.active::after,
a.neon-light.active::before {
  background: #007bff !important;
}

a.neon-light.active {
  color: #007bff !important;
}

.hover-animation::after {
  width: 35% !important;
}

.hover-animation::before {
  width: 45% !important;
}

a.neon-light:hover {
  text-decoration: none !important;
  letter-spacing: 6px;
  transition: all 0.35s ease-in-out;
}

a.neon-light span {
  position: absolute;
  display: block;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 991px) {
  .fixed-scroll {
    box-shadow: none;
    background-color: transparent !important;
  }

  .mobile-nav {
    border-radius: 100px;
    padding: 10px 20px;
    transition: background 0.75s;
    background-color: #007bff;
  }

  .neon-light span {
    display: none !important;
  }

  .menu-wrapper {
    display: block;
    margin-left: 20px;
    width: 100%;
    transition: opacity 0.25s;
  }

  .mobile-nav.change {
    background-color: white;
  }

  .menu-wrapper:hover {
    opacity: .5;
  }

  .menu-wrapper {
    z-index: 3;
  }

  .main-menu {
    max-width: 100vw !important;
    height: 100vh;
    background: #007bff;
    border-right: #ccc 1px solid;
    margin: 0 !important;
    padding: 0;
    transform: translateY(-1200px);
    transition: transform 0.75s ease-in-out;
  }

  .bg-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.75s;
  }

  .main-menu.show {
    transform: translateY(0px);
  }

  .main-menu a.neon-light {
    font-size: 1.75rem;
    color: #fff !important;
  }

  a.neon-light.active {
    color: #1127d0 !important;
  }

  a.neon-light:hover,
  a.neon-light::after:hover
  a.neon-light::before:hover {
    color: #333 !important;
  }

  .main-menu a.neon-light::after,
  .main-menu a.neon-light::before {
    font-size: 1.75rem;
    background: #fff !important;
  }

  a.neon-light.active::after,
  a.neon-light.active::before {
    background: #1127d0 !important;
  }

  .main-menu a.neon-light.active {
    transform: scale(1);
  }
}
